asgiref==3.5.2
attrs==22.1.0
bcrypt==4.0.1
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_0ek9yztvu3/croot/certifi_1665076692562/work/certifi
cffi==1.15.1
charset-normalizer==2.1.1
compose==1.4.8
cryptography==38.0.1
distro==1.8.0
Django==4.1.2
djangorestframework==3.14.0
docker==6.0.0
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
idna==3.4
jsonschema==3.2.0
packaging==21.3
paramiko==2.11.0
pycparser==2.21
PyNaCl==1.5.0
pyparsing==3.0.9
pyrsistent==0.19.1
python-dotenv==0.21.0
pytz==2022.5
PyYAML==5.4.1
requests==2.28.1
six==1.16.0
sqlparse==0.4.3
texttable==1.6.4
urllib3==1.26.12
websocket-client==0.59.0
